.visible {
  width: 26px;
  height: 26px;
  padding: 3px;
  background-color: green;
  border-radius: 100%;
  opacity: 1;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: all 0.2s;
}

.invisible {
  width: 26px;
  height: 26px;
  padding: 3px;
  background-color: green;
  border-radius: 100%;
  opacity: 0;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: all 0.2s;
}

.text {
  color: #fff;
  text-align: center;
  line-height: 100%;
}
